.SEMTKanban.row {
    /* flex-direction: row; */
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
    max-width: 100%;
    max-width: 100%;
    padding-left: 1%;
    padding-right: 0pt;
    margin-right: 0px;
}

.SEMTKanban.col {
    height: 100%; 
    margin: 4pt;
    font-size: .9em;
    padding: 0.5%;
    padding-left: 5pt;
    background-color: rgb(250,250,250);
    border: 1px solid #AEAEAE;
    border-radius: 20px;
    text-align: center; 
    min-width: 10%; 
    max-width: 18%; 
}

.SEMTKanban.col .slp { 
    padding: 0.5%;
    margin: 2px; 
    background-color: rgb(250,250,250); 
    display: inline-flex;
    padding: 5pt;
    border-radius: 500px;
    border: 1px solid #AEAEAE;
    text-align: center;
    height: 100%;

}

.SEMTKanban.col.lastweek {
    background-color: rgb(255, 230, 230); 

    min-width: 18%; 
    max-width: 20%; 
}

.SEMTKanban.col.today { 
    background-color: rgb(242, 252, 255);  
    
    min-width: 18%; 
    max-width: 20%; 
}

.SEMTKanban.col.tomorrow {
    background-color: rgb(230, 255, 237); 

    min-width: 18%; 
    max-width: 20%; 
} 

.SEMTKanban.title {
    font-weight: 800;
}

.SEMTKanban.group {
    padding-left: 5pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.SEMTKanban.group-name {
    text-align: left;
    margin-top: 5pt;
    margin-bottom: 5pt;
    font-weight: 600;
}

.SEMTKanban.details {
    margin-left: 0pt;
    text-align: left;
    padding: 5pt;
    justify-content: space-between;
    align-content:space-between;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgb(200,200,200);
    margin-bottom: 4pt;
}

.SEMTKanban.details p {
    margin: 0pt;
}