.App {
  text-align: center;
  margin-right: 0px;
}

.App .row {
  margin-left: 0px;
  margin-right: 0px;
}

.App-logo {
  height: 40vmin;
}

.App-title {
  /* background-color: #282c34; */
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 80px;
  /* color: white; */
}

.App-body {
  /* background-color: #282c34; */
  min-height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: black; */
}

.App-link {
  color: #09d3ac;
}